@charset "utf-8";

/*
  Kristen Bailey
    WEB 110.920
    Web Project: Slice Slice Baby
    Updated: 4/8/2022

*/

/* HTML and Body Styles */

html {
	height: 100%;
	width: 100%;
	font-size: 12px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

body {
	position: relative;
	margin: 0px auto;
	width: 1200px;
	min-height: 100%;
}

/* Header Styles */

body > header > img {
	display: flex;
	padding-left: 200px;
	width: auto;
	height: auto;
}

body > header > h1 {
	font-size: x-large;
	
}

/* Header Navigation Styles */

body > header > nav.horizontal li {
	display: inline-block;
	float: left;
	position: relative;
	width: 14.2857%;
}

body > header > nav.horizontal li a {
	background-color: rgb(51, 51, 51);
	color: rgb(195,183,15);
	display: inline-block;
	padding: 12px 16px;
	height: 3em;
	line-height: 3em;
	font-size: 1.2em;
	letter-spacing: 0.15em;
	text-align: center;
	width: 100%;
}

body > header > nav.horizontal li:nth-of-type(7) {
	width: 7.1428%;
}

body > header > nav.horizontal li:nth-of-type(8) {
	width: 7.1428%;
}

body > header > nav.horizontal li a img {
	display: block;
	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	width: 60%;
}

nav.horizontal > ul > li > a.link:hover {
	background-color: rgba(0, 97, 194, 0.6);
}

/* Left Section Styles */

section#left {
	clear: both;
	float: left;
	margin-top: 20px;
	width: 240px;
}

section#center {
	float: left;
	width: 720px;
}

section#right {
	float: left;
	margin-top: 20px;
	width: 240px;
}

/* Cube Styles */

div.cube_face img {
	display: block;
	width: 725px;
	border: solid 4px;
	border-color: rgb(150,150,150);
}


/* Aside Styles */

section aside {
	background-color: rgba(255, 255, 255, 0.4);
	margin: 20px auto 28px auto;
	width: 80%;
}

section aside h2 {
	background-color: rgba(51, 51, 51, 0.6);
	color: rgb(41,21,79);
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
}

section aside p {
	font-size: 1.2em;
	line-height: 1.2;
	margin: 10px;
}
/* Dropdown styles */
li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

li a:hover, .dropdown:hover .dropbtn {
	background-color: rgba(0, 97, 194, 0.6);
}
  
 li.dropdown {
	display: inline-block;
  }
  
  .dropdown-content {
	display:none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	  background-color: #000000;}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

/* Footer Styles */

footer {
	background-color: rgba(51, 51, 51, 0.7);
	clear: left;
	margin-top: 55px;
	text-align: center;
}

footer, footer span  a {
   padding: 10px;
   color: rgb(191, 191, 191);
}

footer span a:hover {
   color: rgb(0, 167, 167);
   text-decoration: underline;
}


/* Menu Page & Table Styles*/

table {
	border-collapse: collapse;
	background: rgb(133,137,143);
}

td, th{
	border: 1px solid black;
}


caption{
	font-size:xx-large;
}

/*Contact Form Styles*/

input[type="submit"] {
	background: rgb(189, 125, 121);
	border: 0px;
	padding: 5px, 20px;
	color: rgb(0,0,0);
}

 /*About Us and History Pages and Styles*/

div.about h2{
	 font-size: xx-large;
	 text-align: center;
}

div.locations h2 {
	font-size: xx-large;
	text-align: center;
	padding-right: 85px;
}

div.about, div.locations{
	font-size: large;
	border: solid;
	padding: 10px;
	background-color: rgb(150,150,150);
}

 video, audio{
	 padding: 10px;
	 border: solid 5px;
	 border-color: black;
	 background: rgb(90,90,90);
 }


/* Slideshow container */
.slideshow-container {
	max-width: 750px;
	position: relative;
	margin: auto;
	border: solid 3px;
	border-color: rgb(0,0,0);
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.8);
	}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

	.active, .dot:hover {
		background-color: #717171;
	}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}
