@charset "utf-8";

/*
  Kristen Bailey
    WEB 110.920
    Web Project: Slice Slice Baby
    Updated: 4/3/2022

*/

article, aside, figcaption, figure,
footer, header, main, nav, section {

    display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, 
li, main, nav, ol, p, section, span, ul {
   
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
   background: transparent; 
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;    
}

nav ul {
   list-style: none;
   list-style-image: none;
}

nav a {
   text-decoration: none;
}

body {
   line-height: 1;
}