@charset "utf-8";

/*
Kristen Bailey
    WEB 110.920
    Web Project: Slice Slice Baby
    Updated: 4/8/2022

*/

/* HTML Styles */
html {
	background: url(photos/ssb_back2.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}

/* Body Styles */
body {
	background-color: rgba(255,255,255, 0.3);
}


/* Body Header Styles */
body > header {
	background-color: rgba(51,51,51,0.5);

}

/* Top Navigation Drop down menu*/
	
body > header > nav.horizontal ul li > a.link:hover{
display: block;
}

body > header > nav.horizontal{
	display: block;
	position: relative;
}

body > header > nav.horizontal ul {
	margin: 0px;
	padding: 0px;
}

body > header > nav.horizontal li{
	position: relative;
	float: left;
	list-style-type: none;
}

body > header > nav.horizontal li > a.link:after{
	content:".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

body > header > nav.horizontal ul ul{
	position: absolute;
	display: none;
	left: 0px;
	width: 0px;
}


/* Aside Styles */
section > aside {
	border: 10px double rgba(92,42,8,0.5);
	border-radius: 30px;
}

section aside h2 {
	border-radius: 20px 20px 0px 0px;
}

section#left, section#right {
	perspective: 450px;
}

section#left aside {
	transform: rotateY(25deg);
}

section#right aside {
	transform: rotateY(-25deg);
}



